In [10]:
import numpy as np
import pandas as pd
import glob
import os

In [11]:
# get data file names
path =r'C:\Users\Anand\Documents\sports\raw_dataset\test_dataset'
filenames = glob.glob(path + "/*.csv")

dfs = []
for filename in filenames:
    try:
        data = pd.read_csv(filename)
    #     print(data)
        dfs.append(data)
    except:
        dfs.append(pd.read_csv(r'C:/Users/Anand/Documents/sports/empty.csv'))

# Concatenate all data into one DataFrame
big_frame = pd.concat(dfs, ignore_index=True)
print(big_frame)

                       0                out_by runs balls empty fours sixes  \
0        Abhinav Mukund              b Rampaul   11    41    56     1     0
1          Murali Vijay     c Bishoo b Rampaul    8    12    19     1     0
2          Rahul Dravid       c Sammy b Bishoo   40    67   106     7     0
3            VVS Laxman       c Sammy b Bishoo   12    31    47     2     0
4           Virat Kohli     c †Baugh b Edwards    4    10    13     1     0
...                  ...                   ...  ...   ...   ...   ...   ...
3855    Ravindra Jadeja             b Anderson  104   194   269    13     0
3856     Shardul Thakur   c †Billings b Stokes    1    12    11     0     0
3857     Mohammed Shami        c Leach b Broad   16    31    56     3     0
3858  Jasprit Bumrah (c)              not out    31    16    30     4     2
3859     Mohammed Siraj     c Broad b Anderson    2     6    17     0     0

     strike_rate
0          26.82
1          66.66
2           59.7
3           38.7
4           40.0
...          ...
3855        53.6
3856        8.33
3857       51.61
3858      193.75
3859       33.33

[3860 rows x 8 columns]

In [12]:
df = big_frame[big_frame['0'].str.contains("Virat Kohli")]
df = df.reset_index()
df

,index,0,out_by,runs,balls,empty,fours,sixes,strike_rate
0,4,Virat Kohli,c †Baugh b Edwards,4,10,13,1,0,40.0
1,26,Virat Kohli,c †Baugh b Edwards,15,54,72,2,0,27.77
2,37,Virat Kohli,c †Baugh b Edwards,4,10,13,1,0,40.0
3,48,Virat Kohli,c Sammy b Rampaul,0,2,1,0,0,0.0
4,70,Virat Kohli,c Sammy b Edwards,27,107,118,1,1,25.23
...,...,...,...,...,...,...,...,...,...
184,3798,Virat Kohli,lbw b Jayawickrama,13,16,27,1,0,81.25
185,3808,Virat Kohli,lbw b de Silva,23,48,63,2,0,47.91
186,3819,Virat Kohli,b Potts,11,19,33,2,0,57.89
187,3841,Virat Kohli,c Root b Stokes,20,40,64,4,0,50.0
188,3852,Virat Kohli,b Potts,11,19,33,2,0,57.89

In [13]:

df['out_type'] = df.out_by.apply(lambda x: x[:1])
df['out_type'] = df['out_type'].str.replace('l','lbw')
df['out_type'] = df['out_type'].str.replace('c','catch_out')
df['out_type'] = df['out_type'].str.replace('r','run_out')
df

,index,0,out_by,runs,balls,empty,fours,sixes,strike_rate,out_type
0,4,Virat Kohli,c †Baugh b Edwards,4,10,13,1,0,40.0,catch_out
1,26,Virat Kohli,c †Baugh b Edwards,15,54,72,2,0,27.77,catch_out
2,37,Virat Kohli,c †Baugh b Edwards,4,10,13,1,0,40.0,catch_out
3,48,Virat Kohli,c Sammy b Rampaul,0,2,1,0,0,0.0,catch_out
4,70,Virat Kohli,c Sammy b Edwards,27,107,118,1,1,25.23,catch_out
...,...,...,...,...,...,...,...,...,...,...
184,3798,Virat Kohli,lbw b Jayawickrama,13,16,27,1,0,81.25,lbw
185,3808,Virat Kohli,lbw b de Silva,23,48,63,2,0,47.91,lbw
186,3819,Virat Kohli,b Potts,11,19,33,2,0,57.89,
187,3841,Virat Kohli,c Root b Stokes,20,40,64,4,0,50.0,catch_out
188,3852,Virat Kohli,b Potts,11,19,33,2,0,57.89,

In [14]:
df['out_by'] = df['out_by'].str.replace('lbw b','')
df['out_by'] = df['out_by'].str.replace('run out','')
df['out_by'] = df['out_by'].str.replace('b','')
df['out_by'] = df['out_by'].str.replace('c †','')
df['out_by'] = df['out_by'].str.replace('c','')

df

,index,0,out_by,runs,balls,empty,fours,sixes,strike_rate,out_type
0,4,Virat Kohli,Baugh Edwards,4,10,13,1,0,40.0,catch_out
1,26,Virat Kohli,Baugh Edwards,15,54,72,2,0,27.77,catch_out
2,37,Virat Kohli,Baugh Edwards,4,10,13,1,0,40.0,catch_out
3,48,Virat Kohli,Sammy Rampaul,0,2,1,0,0,0.0,catch_out
4,70,Virat Kohli,Sammy Edwards,27,107,118,1,1,25.23,catch_out
...,...,...,...,...,...,...,...,...,...,...
184,3798,Virat Kohli,Jayawikrama,13,16,27,1,0,81.25,lbw
185,3808,Virat Kohli,de Silva,23,48,63,2,0,47.91,lbw
186,3819,Virat Kohli,Potts,11,19,33,2,0,57.89,
187,3841,Virat Kohli,Root Stokes,20,40,64,4,0,50.0,catch_out
188,3852,Virat Kohli,Potts,11,19,33,2,0,57.89,

In [15]:
data = df['out_by'].str.rsplit(' ',n=1,expand= True)
df['outby']=data[1]
df= df.drop(['out_by'],axis =1)
df

,index,0,runs,balls,empty,fours,sixes,strike_rate,out_type,outby
0,4,Virat Kohli,4,10,13,1,0,40.0,catch_out,Edwards
1,26,Virat Kohli,15,54,72,2,0,27.77,catch_out,Edwards
2,37,Virat Kohli,4,10,13,1,0,40.0,catch_out,Edwards
3,48,Virat Kohli,0,2,1,0,0,0.0,catch_out,Rampaul
4,70,Virat Kohli,27,107,118,1,1,25.23,catch_out,Edwards
...,...,...,...,...,...,...,...,...,...,...
184,3798,Virat Kohli,13,16,27,1,0,81.25,lbw,Jayawikrama
185,3808,Virat Kohli,23,48,63,2,0,47.91,lbw,Silva
186,3819,Virat Kohli,11,19,33,2,0,57.89,,Potts
187,3841,Virat Kohli,20,40,64,4,0,50.0,catch_out,Stokes
188,3852,Virat Kohli,11,19,33,2,0,57.89,,Potts

In [16]:
df.to_csv(r'test_record.csv',index=False)